@model MagicBuilder.ViewModels.ForgeViewModel
@using System.Linq

@{
    ViewBag.Title = "CardDetail";
}

<h2 class="text-center">Welcome to Magic builder</h2>
@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    @Html.Partial("../Partials/_SearchForm")
}

@if (Model.SearchResults != null)
{
    <h3 class="sr-only">Search results</h3>
    <div class="row cards">
        @foreach (var card in Model.SearchResults)
        {
            <div class="card col-sm-4 col-md-3">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="card-image"
                                    src="@card.CardImage"
                                    alt="Card Image" />
                        </div>
                        <div class="back card-back">
                            @Html.Partial("../Partials/_CardDetails", card)
                        </div>
                    </div>
                </div>
            </div>


        }
    </div>
}
