@model IEnumerable<MtgDb.Info.Card>
@using System.Linq

@{
    ViewBag.Title = "CardDetail";
}

<h2 class="text-center">Welcome to Magic builder</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "bs-component" }))
{
    <div class="row center-block">
        <div class="col-md-offset-3 col-md-6">
            <div class="form-group">
                <div class="input-group">
                    <input name="searchString" type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Any())
{
            <h3 class="sr-only">Search results</h3>
            <div class="row cards">
                @foreach (var item in Model)
        {
                    <div class="card col-sm-4 col-md-3">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="front">
                                    <img class="card-image"
                                         src="@item.CardImage"
                                         alt="Card Image" />
                                </div>
                                <div class="back card-back">
                                    <p>Rulings:</p>
                                    @for (int i = 0; i < item.Rulings.ToArray().Length; i++)
                            {
                                        @Html.DisplayFor(Card => item.Rulings[i])<br />
                            }
                                </div>
                            </div>
                        </div>
                    </div>

        }
            </div>
}
