/* 
  The follwowing codes shows an example of these rules.
  Selectors in single line, classes in
  lowercase with dashes & right use of braces.
*/

.selector,
.selector-secondary,
.selector[type="text"] {
  padding: 15px;
  margin-bottom: 15px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 1px 2px #ccc, inset 0 1px 0 #fff;
}

.class2 {
	
	/* TODO */
}

